.card-container {
    display: flex;
    justify-content: center;   /* centre horizontalement */
    align-items: center;       /* centre verticalement */
    padding-top: 3%;
}

.card{
    background-color: transparent;
    min-width: 300px;
    max-width: 500px; 
    border: 1.5px solid #4B352A; 
    border-radius: 8px;
}

.card-body {
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;    /* retour à la ligne */
}

.form-compte{
    background-color: transparent;
    border: transparent;
}

.texte-rouge {
    color: red;
}

.texte-attention {
    color: rgb(145, 145, 145);
    font-size: 12px;
}

