body{
    background-color: #E6D8C3;
    color:#4B352A;
}
header{
    background-color: #fbf2dd;
    position: sticky;
    top: 0; /* Le header reste en haut de la page */
    z-index: 100; /* Assure que le header reste au-dessus des autres éléments */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre légère */
}

footer{
    text-align: center;
}

.nav-item-searchBar{
    margin-left: 30px;
}

.nav-item-filter{
    margin-left: 10px;
}

.row{
    background-color: #E6D8C3;
}

.btn-compte{
    padding: 10px;
}
form{
    max-width: 400px;
    border: 1.5px solid #4B352A;
    border-radius: 8px;
}
