# fichiers de configuration
/config/constantes.yaml
!/config/constantes.yaml.exemple

/vendor

# composer
composer.lock
composer.phar

# tarteaucitron
node_modules
package.json
package-lock.json

# pour tom 
.idea/