<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page du projet JobBuddy">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/styleHeader.css">
    {% block css %} {% endblock %}
    <title> {% block title %} Page d'accueil de JobBuddy {% endblock %} </title>
</head>


<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Marque/Logo -->
            <a class="navbar-brand" href="index.php">
                <img src="./images/icons/broom(1).png" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">
                Jobbuddy
            </a>
            <!-- Liste des éléments de la barre de navigation -->
            <ul class="navbar-nav mx-auto d-flex align-items-center">
                <li class="nav-item-searchBar d-flex align-items-center ml-3">
                    <form class="d-flex my-2 my-lg-0">
                        <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </li>
                <li class="nav-item-filter d-flex align-items-center ml-2">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrer</button>
                </li>
            </ul>
                {% if role == "non_connecte" %}
                    <div class="btn-compte">
                        <a href="index.php?controleur=utilisateur&methode=pageConnexion"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">se connecter</button></a>
                        <a href="index.php?controleur=utilisateur&methode=pageInscription"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">s'inscrire</button></a>
                    </div>
                {% endif %}
                {% block headerListe %}
                {% endblock %}
        </div>
    </nav>
</header>




{% block content %}


{% endblock %}




<footer>
    <div class="container-fluid">
        <div class="row" style="min-height: 100px;">
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <p class="mb-0">Jobbuddy</p>
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <p class="mb-0">Nous contacter</p>
            </div>
        </div>
        <div class="row" style="min-height: 50px;">
            <div class="col-sm-12 d-flex justify-content-center align-items-center">
                <p class="mb-0">Copyrights</p>
            </div>
        </div>
    </div>
</footer>
{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>