{% extends  'base_template.html.twig' %}

{% block title %} Page de connexion {% endblock %}

{% block content %}
    <div class="container">
            <h1 class="text-center mb-4" > Connexion</h1>
            <form  method="POST" class="mx-auto p-4">
                <div class="mb-3">
                <label for="email" class="form-label">Adresse email</label>
                <input type="email" class="form-control" id="email" required >
                <div id="emailHelp" class="form-text">Votre email restera confidentiel.</div>
                </div>

                <div class="mb-3">
                <label for="motDePasse" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="motDePasse" required>
                </div>

                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Se connecter</button>
            </form>
        </div>

{% endblock %}